:root {
    /* Variables throughout the site */

    --nav-bg-color: #d3d7b1b0;
    --text-color: #a51414;

    --header-height: 85px;
    --section-spacing: 40px;
}

* {
    margin: 0;
    padding: 0;
}

/** Navbar Styles **/

nav {
    display: flex;
    position: relative;
    z-index: 99;
    background-color: var(--nav-bg-color);
    height: var(--header-height);
}

nav .logo img {
    height: 80px;
    width: 80px;
}

nav .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

/** Hero Section **/

main .hero {
    background: transparent url(../bg2.jpg) no-repeat 0 -180px / cover;
    height: 80%;
    width: 100%;
    min-height: 500px;
    position: relative;
    margin-top: calc(-1 * var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

main .hero > * {
    max-width: 50%;
    text-align: center;
}

main .hero .hero-heading {
    color: var(--text-color)
}

main .hero .order-btn {
    background: transparent;
    padding: 5px;
    border-radius: 4px;
    border-color: var(--text-color);
}

/** Services Section **/

.our-service {
    margin-block: var(--section-spacing);
}

.our-service .service-image {
    height: 200px;
    width: 200px;
}
