:root {
    /* Variables throughout the site */

    --nav-bg-color: #d3d7b1b0;
    --service-bg-color: #a52a2a4a;
    --text-color: #a51414;
    --border-color: #a51414;
    --form-placeholder-color: #757575;
    --contact-btn-bg: #a51414;
    --contact-btn-text: #fff;

    --header-height: 85px;
    --block-spacing: 40px;
    --inline-spacing: 40px;
}

* {
    margin: 0;
    padding: 0;
}

/** Navbar Styles **/

nav {
    display: flex;
    position: relative;
    z-index: 99;
    background-color: var(--nav-bg-color);
    height: var(--header-height);
}

nav .logo img {
    height: 80px;
    width: 80px;
}

nav .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

/** Hero Section **/

main .hero {
    background: transparent url(../bg1.jpg) no-repeat 0 -180px / cover;
    height: 80%;
    width: 100%;
    min-height: 500px;
    position: relative;
    margin-top: calc(-1 * var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

main .hero > * {
    max-width: 50%;
    text-align: center;
}

main .hero .hero-heading {
    color: var(--text-color)
}

main .hero .order-btn {
    background: transparent;
    padding: 5px;
    border-radius: 4px;
    border-color: var(--text-color);
}

/** Services Section **/

.our-service {
    margin-block: var(--block-spacing);
    margin-inline: var(--inline-spacing);
    text-align: center;
}

.our-service .service-cards {
    display: flex;
    gap: 40px;
}

.our-service .services-heading {
    margin-block-end: 30px;
}

.our-service .service-card {
    background-color: var(--service-bg-color);
    border: 3px solid var(--border-color);
    border-radius: 30px;
    padding-block: 10px 20px;
}

.our-service .service-heading {
    margin-block-end: 10px;
}

.our-service .service-image {
    width: 200px;
    aspect-ratio: 4/3;
}

/** Clients Section **/

.our-clients {
    text-align: center;
    margin-block-start: var(--block-spacing);
    background: transparent url(../bg3.jpg) no-repeat 0 -150px / cover;
    position: relative;
    padding-block: 20px;
}

.our-clients::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    z-index: 1;
}

.our-clients .clients-heading {
    color: var(--text-color);
    font-size: 40px;
}

.our-clients .clients-list {
    margin-block-start: 20px;
    display: flex;
    margin-inline: 20%;
    align-items: center;
    justify-content: center;
}

.our-clients .client {
    flex: 1;
}

.our-clients .client img {
    width: 200px;
}

/** Contact Section **/

.contact-us {
    text-align: center;
    padding-block: 40px;
    position: relative;
}

.contact-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(../bg4.jpg) no-repeat 0 0 / cover;
    opacity: 0.9;
    z-index: -1;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    place-content: center;
    align-self: center;
    margin-inline: auto;
    text-align: left;
    gap: 10px;
}

.contact-us form label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
}

.contact-us form input, textarea {
    padding: 5px;
    border-radius: 3px;
    border: 0;
}

.contact-us form input[type="submit"] {
    margin-block-start: 20px;
    background-color: var(--contact-btn-bg);
    color: var(--contact-btn-text);
    border: 1px solid white;
}

@media (max-width: 768px) {
    
    main .hero, .our-clients {
        background-size: auto;
    }

    main .hero {
        background-position-x: -40vw;
    }

    .clients-list, .service-cards {
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    main .hero {
        background-position-x: -80vw;
    }
}
